<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs', {title: 'Message'}) %>
  <body>
    <%- include('includes/navbar.ejs') %>

    <main class="section">
      <form action="/message/send" method="POST">
        <div class="field">
          <label for="" class="label">Enter your name</label>
          <input type="text" name="name" id="" class="input" />
        </div>
        <div class="field">
          <label for="" class="label">Enter your mail</label>
          <input type="mail" name="mail" id="" class="input" />
        </div>
        <div class="field">
          <label for="" class="label">Enter your message</label>
          <textarea name="message" id="" class="input"></textarea>
        </div>
        <div class="control">
          <button class="button is-info">Sumbit</button>
        </div>
      </form>
    </main>
    <section class="section">
      <% if(message.name) {%>
      <article class="notification">
        <div class="content">
          <p>Message by: <%= message.name %></p>
          <p>From: <%= message.mail %></p>
          <p><%= message.message %></p>
        </div>
      </article>
      <% } %>
    </section>
  </body>
</html>
